<%- include("header") -%>
<body>
    
    <div class="flex-parent jc-center">

        <div class="topform left" >
            <form action="/" method="post">
                <button class="buttonchanger checker" type="submit" name="list" value="gotohome"  >Today</button>
            </form>
        </div>
        <div class="topform right" >
            <form action="/" method="post">
                <button class="buttonchanger " type="submit" name="list" value="gotowork" >Work</button>
            </form>
        </div>
    </div>



    <div class="box "id="heading" >
        <h1>
            <%= ListTittle %>
        </h1>
    </div>

    <div class="box">
           <% for (let index=0; index < ListItems.length; index++) { %>
            <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox"  name="checkbox"  value= "<%=  ListItems[index]._id %>" onChange="this.form.submit()" >
                <p> <%= ListItems[index].name %></p>
              </div>
            </form>
            <% } %>

            <form class="item formchange" method="POST" action="/">
                <input type="text" name="newItem" id="" placeholder="New Item">
                <button class="buttonchange" type="submit" name="list" value=<%= ListTittle %> >+</button>
            </form>
   
    </div>
   
</body>

<%- include("footer") -%>